body{
    margin: 25px ;
}
main{
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.page-title{
    text-align: center;
}

.post{
    margin-top: 4rem;
    width: 750px;
    position: relative;
}

.post-cat{
    text-align: center;
}
.post-link {
    position: absolute;
    right: 0;
}

.post-title, .post-author{
    text-align: center;
}
.post-content-text{
    width:100%;
    margin-top: 1rem;
}


.post-content{
    margin-top: 10px;
}

.post-content-img{
    border-radius: 25px;
    height: 100%;
}